:root{
    --blueDarkColor: #1f2732;
    --blueLightColor: #0090ff;
    --secondBlue: #1f2732;


    /* --colorPurple1: #d858f5;
    --colorPurple2: #c647fe;
    --colorPurple3: #a461e8; 
    --colorPurple4: #ff00f6;
    */

    --colorPurple1: #0091ffd7;
    --colorPurple2: #34a5fc9f;
    --colorPurple3: #7fc8ff38;
    --colorPurple4: #0090ff;
/*    
    --colorBlueButton: #0800B6;
    --colorPurpleButton:#8b00d9; */

    --colorBlueButton: #7fc8ff38;
    --colorBlueButton2: #22334b;
    --colorBlueButton3: #0090ff;
    --colorPurpleButton:#0090ff;

}
.page-inner-top-section{
    background-size:cover;
}
.page-wrapper {
    min-height: 1040px;
}
.main-header{ 
    background-color: var(--blueDarkColor);
}
.logo{
    max-width:235px;
}
.banner-section,
.banner-section-two{
    background-size: cover;
    background-color: var(--blueDarkColor);
    background-blend-mode: hard-light;
}
.services-section-two{
    margin-top: 50px;
}
.gallery-item-two.mix{
    display:block;
}

.edit-page{
    position: fixed;
    border: 1px solid red;
    top: 10px;
    left: 10px;
    padding: 4px 10px;
    z-index: 1111111;
    font-size: 15px;
  }

.load-more a{
    width: 100px !important;
    border-radius: 5px  !important;
    font-size: 15px !important; 
    color: #ffffff !important; 
    background-color: #ff9600 !important; 
}

.grecaptcha-badge{
    bottom:65px !important;
}

.footer-links-wb li a{
    color: #ff9600 !important;   
}
.footer-links-wb li a:hover{
    text-decoration:underline !important;   
}

.r1{
    text-decoration:underline;
    text-align: center;
}

.r2{
    text-decoration:underline;
    text-align: center;
}

.r1 a, 
.r2 a{
    margin: 5px;
}

.pull-left.blog-tile{
    width: calc(100% - 30px);
}

.main-menu .navbar-collapse > .navigation > li > ul{
    display: block;
}

.main-menu .navbar-collapse > .navigation > li > ul > li > a{
    text-indent: 20px;
}

.main-menu .navigation > li > ul {
    width: 240px;;
}

.imageFrame370{
    border: 5px solid var(--blueDarkColor);
    border-radius: 10px !important;
    overflow: hidden !important;
    aspect-ratio: 1;
}

.imageFrame510{
    border: 5px solid var(--blueDarkColor);
    border-radius: 10px !important;
    overflow: hidden !important;
    height: 510px;
}

.service-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wp-block-table table{
    width:100%;
}

.project-inner-cats-ul li{
    margin: 2px 22px;
    list-style: circle;
}


@media (max-width: 768px) {

    #CybotCookiebotDialog{
        bottom: 1px !important;
        top: unset !important;
        transform: translate(-50%, -0%) !important;
    }
    #CybotCookiebotDialogBodyContent{
        padding: 5px !important;
    }
    #CybotCookiebotDialogBodyContentText{
        font-size:14px !important;
        line-height: 18px !important;
    }
    .CybotCookiebotDialogBodyLevelButtonWrapper{
        padding:5px 10px!important;
    }
    #CybotCookiebotDialogFooter .CybotCookiebotDialogBodyButton{
        padding:7px !important;
    }
    
}